In [ ]:
import sys, os

# Tell Python to also look one folder up (where 'db' lives)
sys.path.append(os.path.abspath(".."))

# Optional: confirm it worked
print(" Project path added.")

In [ ]:
from db.connect_db import get_connection

# Create connection and cursor
connection = get_connection()
cursor = connection.cursor()

print(" Connected to StudyBuddy database!")

MySQL connector is working!
âœ… Connected to StudyBuddy database!

In [ ]:
cursor.execute("SELECT DATABASE();")
result = cursor.fetchone()
print(" Current database:", result[0])

ðŸ“š Current database: studybuddy

In [ ]:
import pandas as pd
from pathlib import Path

# Path to your colleges CSV file
csv_path = Path("..") / "data" / "clean" / "colleges_clean.csv"

# Load the CSV (only one column: college_name)
df_colleges = pd.read_csv(csv_path)

print(" Loaded colleges.csv successfully!")
print("Number of colleges:", len(df_colleges))
df_colleges.head()

âœ… Loaded colleges.csv successfully!
Number of colleges: 2076

                              college_name
0                           Air University
1                   Alabama A&M University
2  Alabama College of Osteopathic Medicine
3                 Alabama State University
4                       Amridge University

In [ ]:
insert_query = """
    INSERT INTO Colleges (college_name)
    VALUES (%s)
"""

# Keep track of how many were inserted
count = 0

for _, row in df_colleges.iterrows():
    college_name = row['college_name'].strip()  # clean up whitespace
    cursor.execute(insert_query, (college_name,))
    count += 1

# Commit changes
connection.commit()

print(f" Successfully inserted {count} college records into the Colleges table!")

âœ… Successfully inserted 2076 college records into the Colleges table!

In [9]:
cursor.execute("SELECT COUNT(*) FROM Colleges;")
print("ðŸ“Š Total colleges in table:", cursor.fetchone()[0])

cursor.execute("SELECT * FROM Colleges LIMIT 5;")
for row in cursor.fetchall():
    print(row)

ðŸ“Š Total colleges in table: 2076
(1, 'Air University')
(2, 'Alabama A&M University')
(3, 'Alabama College of Osteopathic Medicine')
(4, 'Alabama State University')
(5, 'Amridge University')