In [2]:
import sys, os

# Tell Python to also look one folder up (where 'db' lives)
sys.path.append(os.path.abspath(".."))

# Optional: confirm it worked
print(" Project path added.")

 Project path added.

In [3]:
from db.connect_db import get_connection
import pandas as pd
from pathlib import Path

# Create connection
connection = get_connection()
cursor = connection.cursor()

print("Connected to StudyBuddy database.")

MySQL connector is working!
Connected to StudyBuddy database.

In [4]:
# Path to the cleaned majors CSV
csv_path = Path("..") / "data" / "clean" / "us_majors.csv"

# Read the file
df_majors = pd.read_csv(csv_path)

print(f" Loaded {len(df_majors)} majors from us_majors.csv")
df_majors.head()

 Loaded 425 majors from us_majors.csv

                                          major_name
0                    Accounting and Computer Science
1                    Accounting and Related Services
2      Advanced/Graduate Dentistry and Oral Sciences
3  Aerospace, Aeronautical and Astronautical Engi...
4    African Languages, Literatures, and Linguistics

In [5]:
insert_query = """
    INSERT INTO Majors (major_name)
    VALUES (%s)
"""

count = 0
for _, row in df_majors.iterrows():
    major_name = row['major_name'].strip()
    cursor.execute(insert_query, (major_name,))
    count += 1

# Commit all inserts
connection.commit()

print(f" Successfully inserted {count} majors into the Majors table!")

 Successfully inserted 425 majors into the Majors table!

In [6]:
cursor.execute("SELECT COUNT(*) FROM Majors;")
print("ðŸ“Š Total majors in table:", cursor.fetchone()[0])

cursor.execute("SELECT * FROM Majors LIMIT 10;")
for row in cursor.fetchall():
    print(row)

ðŸ“Š Total majors in table: 425
(1, 'Accounting and Computer Science')
(2, 'Accounting and Related Services')
(3, 'Advanced/Graduate Dentistry and Oral Sciences')
(4, 'Aerospace, Aeronautical and Astronautical Engineering')
(5, 'African Languages, Literatures, and Linguistics')
(11, 'Agricultural and Domestic Animal Services')
(12, 'Agricultural and Food Products Processing')
(6, 'Agricultural Business and Management')
(7, 'Agricultural Engineering')
(8, 'Agricultural Mechanization')

In [7]:
cursor.close()
connection.close()
print(" Connection closed.")

 Connection closed.