In [2]:
import sys, os

# Tell Python to also look one folder up (where 'db' lives)
sys.path.append(os.path.abspath(".."))

# Optional: confirm it worked
print(" Project path added.")

 Project path added.

In [3]:
from db.connect_db import get_connection
import pandas as pd
from pathlib import Path

# Create database connection
connection = get_connection()
cursor = connection.cursor()

print(" Connected to StudyBuddy database.")

MySQL connector is working!
 Connected to StudyBuddy database.

In [4]:
# Path to the cleaned USM courses file
csv_path = Path("..") / "data" / "clean" / "usm_courses_clean.csv"

# Load into pandas
df_courses = pd.read_csv(csv_path)

print(f" Loaded {len(df_courses)} rows from usm_courses_clean.csv")
df_courses.head()

 Loaded 1699 rows from usm_courses_clean.csv

  course_code                               course_name  college_id
0      ANT306      Analysis of Archaeological Materials         819
1      ANT308                 Environmental Archaeology         819
2      ANT315  Ethnography: Methods Ethics and Practice         819
3      ANT320                 Anthropology & the Museum         819
4      ANT350                 International Development         819

In [5]:
insert_query = """
    INSERT INTO Courses (course_code, course_name, college_id)
    VALUES (%s, %s, %s)
"""

count = 0
for _, row in df_courses.iterrows():
    course_code = str(row["course_code"]).strip()
    course_name = str(row["course_name"]).strip()
    college_id = int(row["college_id"])
    
    cursor.execute(insert_query, (course_code, course_name, college_id))
    count += 1

connection.commit()

print(f" Successfully inserted {count} courses into the Courses table!")

 Successfully inserted 1699 courses into the Courses table!

In [6]:
cursor.execute("SELECT COUNT(*) FROM Courses;")
print(" Total courses in table:", cursor.fetchone()[0])

cursor.execute("SELECT course_id, course_code, course_name, college_id FROM Courses LIMIT 10;")
for row in cursor.fetchall():
    print(row)

 Total courses in table: 1699
(1, 'ANT306', 'Analysis of Archaeological Materials', 819)
(2, 'ANT308', 'Environmental Archaeology', 819)
(3, 'ANT315', 'Ethnography: Methods Ethics and Practice', 819)
(4, 'ANT320', 'Anthropology & the Museum', 819)
(5, 'ANT350', 'International Development', 819)
(6, 'ANT360', 'Public Archaeology', 819)
(7, 'ANT380', 'African American Historical Archaeology', 819)
(8, 'ANT395', 'Topics in Anthropology', 819)
(9, 'ANT410', 'Japan: Archaeology Environmental History and Multicultural Perspectives', 819)
(10, 'ANT495', 'Topics in Anthropology', 819)

In [7]:
cursor.close()
connection.close()
print(" Connection closed.")

 Connection closed.